.web-api-container {
    width: 600px;
    height: 250px;
    padding: 15px;
    background-color: chocolate;
}
.events-list {
    display: flex;
    flex-direction: column;
    &-item {
       text-align: center;
       padding-top: 10px;
       padding-bottom: 10px;
        border: 1px dotted #000;
            margin-top: 10px;
    }
}