<header>
  <div class="container">
    <h1 class="container-title">Event Loop</h1>
  </div>
</header>
<main>
  <div class="container">
    <div class="nav-container">
      <p class="nav-container-title">Choose the type of event</p>
      <div class="nav-container-buttons">
        <button (click)="onClickSyncEvent()" class="btn">Synchronous</button>
        <button (click)="onClickAsyncEvent()" class="btn">Asynchronous</button>
      </div>
    </div>
    <div class="loop-container">
      <app-stack></app-stack>
     <app-web-api></app-web-api>
     <app-queue></app-queue>
    </div>
  </div>
</main>