header {
    width: 100%;
    background-color: #000;
    color: #f4f4f4;
}

.container {
    width: 1200px;
    padding: 15px;
    margin: 0 auto;
}

.nav-container {
    width: 300px;
    padding: 15px;
    border: 1px dotted rgb(71, 18, 71);
    &-title {
        margin-bottom: 15px;
    }
    &-buttons {
        display: flex;
        justify-content: space-between;
    }
}

.loop-container {
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    justify-content: space-between;
    &-list-item {
        height: 40px;
        text-align: center;
        border: 1px dotted #000;
        background-color: beige;
        padding: 10px;
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
}

.stack-container {
    flex-basis: 300px;
    height: 300px;
    padding: 20px;
    background-color: coral;
    overflow-y: scroll;
}

.web-container {
    flex-basis: 600px;
    height: 300px;
    padding: 300px;
    overflow-y: scroll;
    background-color: darkorange;
    padding: 20px;
}

.queue-container {
    flex-basis: 100%;
    background-color: brown;
    height: 120px;
    padding: 20px;
    margin-top: 20px;
    overflow-x: scroll;
    &-list {
        display: flex;
        justify-content: space-around;
    }
}
