<header>
  <div class="container">
    <h1 class="container-title">Event Loop</h1>
  </div>
</header>
<main>
  <div class="container">
    <div class="nav-container">
      <p class="nav-container-title">Choose the type of event</p>
      <div class="nav-container-buttons">
        <button (click)="onClickSyncEvent()" class="btn">Synchronous</button>
        <button (click)="onClickAsyncEvent()" class="btn">Asynchronous</button>
      </div>
    </div>
    <div class="loop-container">
      <div class="stack-container">
        <h2>Stack</h2>
        <ul class="stack-container-list">
          <li *ngFor="let item of loopService.stack.collection" class="stack-container-list-item">{{item.text}}</li>
        </ul>
        <p *ngIf="!loopService.stack.collection.length">No events in the stack yet</p>
      </div>
      <div class="web-container">
        <h2>WebAPI</h2>
        <ul class="web-container-list">
          <li *ngFor="let item of loopService.web.collection" class="stack-container-list-item">{{item.text}}</li>
        </ul>
        <p *ngIf="!loopService.web.collection.length">No events in the WebAPI yet</p>
      </div>
      <div class="queue-container">
        <h2>Queue</h2>
        <ul class="queue-container-list">
          <li *ngFor="let item of loopService.queue.collection" class="stack-container-list-item">{{item.text}}</li>
        </ul>
        <p *ngIf="!loopService.queue.collection.length">No events in the Queue yet</p>
      </div>
    </div>
  </div>
</main>